<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>XSS</title>
  <link href="/assets/css/hacker.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="/assets/images/hacker.png" />
</head>
<body>
  <div class="container " style="max-width: 900px; margin-top: 30px">
    <div id="erro" style="font-family: monospace;white-space:pre; font-size: 8px">
 ██████╗ ███╗   ███╗ ██████╗     ██╗   ██╗ ██████╗ ██╗   ██╗     ██████╗  ██████╗ ████████╗    ██████╗  ██████╗  ██████╗ ████████╗
██╔═══██╗████╗ ████║██╔════╝     ╚██╗ ██╔╝██╔═══██╗██║   ██║    ██╔════╝ ██╔═══██╗╚══██╔══╝    ██╔══██╗██╔═████╗██╔═████╗╚══██╔══╝
██║   ██║██╔████╔██║██║  ███╗     ╚████╔╝ ██║   ██║██║   ██║    ██║  ███╗██║   ██║   ██║       ██████╔╝██║██╔██║██║██╔██║   ██║   
██║   ██║██║╚██╔╝██║██║   ██║      ╚██╔╝  ██║   ██║██║   ██║    ██║   ██║██║   ██║   ██║       ██╔══██╗████╔╝██║████╔╝██║   ██║   
╚██████╔╝██║ ╚═╝ ██║╚██████╔╝       ██║   ╚██████╔╝╚██████╔╝    ╚██████╔╝╚██████╔╝   ██║       ██║  ██║╚██████╔╝╚██████╔╝   ██║▄█╗
 ╚═════╝ ╚═╝     ╚═╝ ╚═════╝        ╚═╝    ╚═════╝  ╚═════╝      ╚═════╝  ╚═════╝    ╚═╝       ╚═╝  ╚═╝ ╚═════╝  ╚═════╝    ╚═╝╚═╝
                                                                                                                                  
     ██╗██╗   ██╗███████╗████████╗    ██╗  ██╗██╗██████╗ ██████╗ ██╗███╗   ██╗ ██████╗ ██╗                                        
     ██║██║   ██║██╔════╝╚══██╔══╝    ██║ ██╔╝██║██╔══██╗██╔══██╗██║████╗  ██║██╔════╝ ██║                                        
     ██║██║   ██║███████╗   ██║       █████╔╝ ██║██║  ██║██║  ██║██║██╔██╗ ██║██║  ███╗██║                                        
██   ██║██║   ██║╚════██║   ██║       ██╔═██╗ ██║██║  ██║██║  ██║██║██║╚██╗██║██║   ██║╚═╝                                        
╚█████╔╝╚██████╔╝███████║   ██║       ██║  ██╗██║██████╔╝██████╔╝██║██║ ╚████║╚██████╔╝██╗                                        
 ╚════╝  ╚═════╝ ╚══════╝   ╚═╝       ╚═╝  ╚═╝╚═╝╚═════╝ ╚═════╝ ╚═╝╚═╝  ╚═══╝ ╚═════╝ ╚═╝                                        
                                                                                                                                  
███████╗███╗   ███╗ █████╗ ██╗██╗         ██╗███╗   ██╗    ██╗   ██╗███████╗███████╗                                              
██╔════╝████╗ ████║██╔══██╗██║██║         ██║████╗  ██║    ██║   ██║██╔════╝██╔════╝                                              
█████╗  ██╔████╔██║███████║██║██║         ██║██╔██╗ ██║    ██║   ██║███████╗█████╗                                                
██╔══╝  ██║╚██╔╝██║██╔══██║██║██║         ██║██║╚██╗██║    ██║   ██║╚════██║██╔══╝                                                
███████╗██║ ╚═╝ ██║██║  ██║██║███████╗    ██║██║ ╚████║    ╚██████╔╝███████║███████╗                                              
╚══════╝╚═╝     ╚═╝╚═╝  ╚═╝╚═╝╚══════╝    ╚═╝╚═╝  ╚═══╝     ╚═════╝ ╚══════╝╚══════╝                                              
      </div>
    </div>
  </body>
</html>