<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>XSS</title>
  <link href="/assets/css/hacker.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="/assets/images/hacker.png" />
  <script>
        if(!!navigator.userAgent.match(/Trident/g)
            || !!navigator.userAgent.match(/MSIE/g)
            || !!navigator.userAgent.match(/Edge/g))
            window.location = "https://www.google.com/chrome/";
  </script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</head>
<body>
  <div class="container " style="max-width: 900px; margin-top: 30px">
    <div class="row">
        <div class="col-md-12">
          <h1>Esta ferramenta é uma P0C...</h1>
          <!--h3>Mas qual o problema de uma P0C ir para produção?!</h3-->
          <br>
          {{#if logado}}
          <p>Bem-vindo <b>{{usuario}}</b></p>
          <p>Para sair, clique <a href="/nivel/3/sair">aqui</a></p>
          <p>Para ver/criar anotações, clique <a href="/nivel/3/anotacao">aqui</a></p>
          {{else}}
          <p>Para se cadastrar, clique <a href="/nivel/3/cadastrar">aqui</a></p>
          <p>Para fazer login, clique <a href="/nivel/3/autenticar">aqui</a></p>
          {{/if}}
        </div>
    </div>
  </div>
</body>
</html>